@using GreenApp.Model

@model IList<Cupon>

@if (Model == null || !Model.Any())
{
    <div class="contentText">Jelenleg nincs semmilyen kihívás.</div>
}
else
{
    <div class="d-flex flex-row-reverse">
        <div class="p-3">
            <button class="btn btn-light btn-lg" onclick="location.href='@Url.Action("AddCupon", "Cupons")'">Hozzáadás</button>
        </div>

        <div class="p-3">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div class="p-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Típus
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="pt-5">
        @for (Int32 i = 0; i < Model.Count; i++)
        {
            <div class="row challenges mb-5 shadow-sm pb-2 pt-3">
                <div class="col-md-9">
                    <div class="row">
                        <h3> @Model[i].Name </h3>
                        <p class="ml-auto mr-3"> @Model[i].StartDate.Year. @Model[i].StartDate.Month. @Model[i].StartDate.Day. - @Model[i].EndDate.Year. @Model[i].EndDate.Month. @Model[i].EndDate.Day. </p>
                    </div>
                    <div class="row">
                        <img class="img-fluid" src="@Url.Action("CuponImage", "Cupons", new { cuponid = @Model[i].Id })" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row d-flex justify-content-center py-3">
                        <button class="btn btn-light" onclick="location.href='@Url.Action("Deactivate", "Cupons")'">Deaktiválás</button>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-light" onclick="location.href='@Url.Action("Delete", "Cupons")'">Törlés</button>
                    </div>
                    <div class="row d-flex justify-content-center py-3">
                        <button class="btn btn-light" onclick="location.href='@Url.Action("Edit", "Cupons")'">Szerkesztés</button>
                    </div>


                </div>
                </div>
        }

    </div>

}
