@using GreenApp.Model
@using GreenApp.Data

@model IList<UserChallenge>


@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
@if (TempData["ErrorMessage"] != null)
{
    <p class="alert alert-danger" id="errorMessage">@TempData["ErrorMessage"]</p>
}
@if (TempData["Info"] != null)
{
    <p class="alert alert-info" id="errorMessage">@TempData["Info"]</p>
}
@for (Int32 i = 0; i < Model.Count; i++)
{
    <div class="d-flex flex-row-reverse">
        <div class="p-3">
            @if (ViewBag.radio == null)
            {
                <form method="post" asp-controller="Challenges" asp-action="ListPending" asp-route-id="@Model[i].ChallengeId">
                    <p>Függőben lévők listázása</p><input type="checkbox">
                </form>
            }
            else
            {
                <form method="post" asp - controller="Challenges" asp-action="GetParticipants" asp-route-challengeid="@Model[i].ChallengeId">
                    <p>Függőben lévők listázása</p><input type="checkbox" checked>
                </form>
            }
        </div>
    </div>
    <div class="pt-5">
        <div class="row challenges mb-5 shadow-sm pb-2 pt-3">
            <div class="col-md-6">
                <div class="row">
                    <h3> @Model[i].User.LastName @Model[i].User.FirstName </h3>
                </div>
                <div class="row">
                    <p> Státusz: @Model[i].Status </p>
                </div>
                @if (Model[i].Status == StatusType.Pending)
                {
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-light" onclick="location.href='@Url.Action("Accept", "Challenges", new { challengeId = @Model[i].ChallengeId, userId = @Model[i].UserId })'">Elfogadás</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-light" onclick="location.href='@Url.Action("Decline", "Challenges", new { challengeId = @Model[i].ChallengeId, userId = @Model[i].UserId })'">Elutasítás</button>
                        </div>
                    </div>
                }
            </div>

            @if (Model[i].Image != null)
            {
                <div class="col-md-6">
                    <div class="row">
                        <img class="img-fluid" src="@Url.Action("ChallengeSolutionImage", "Challenges", new { challengeId = @Model[i].ChallengeId, userId = @Model[i].UserId })" />
                    </div>
                </div>
            }
        </div>
    </div>


}



@section Scripts
{
    <script>        
        $('input[type=checkbox]').change(function () {
                $("form").submit();
        });
    </script>
}