@using GreenApp.Model

@model IList<Challenge>


<div class="d-flex flex-row-reverse">
    <div class="p-3">
        <form class="form-inline my-2 my-lg-0" method="post" asp-controller="Challenges" asp-action="SearchChallenge">
            <input class="form-control" type="search" name="SearchString" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    @if (ViewBag.types != null && ViewBag.companies != null)
    {
        <div class="p-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Típusok
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @for (int i = 0; i < ViewBag.types.Count; i++)
                {
                    <a class="dropdown-item" asp-controller="Challenges" asp-action="Select" asp-route-type="@ViewBag.types[i]">@ViewBag.types[i]</a>
                }
            </div>
        </div>
        <div class="p-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cégek
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @for (int i = 0; i < ViewBag.companies.Count; i++)
                {
                    <a class="dropdown-item" asp-controller="Challenges" asp-action="Select" asp-route-type="@ViewBag.companies[i]">@ViewBag.companies[i]</a>
                }
            </div>
        </div>

    }
</div>
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
@if (TempData["ErrorMessage"] != null)
{
    <p class="alert alert-danger" id="errorMessage">@TempData["ErrorMessage"]</p>
}
@if (TempData["Info"] != null)
{
    <p class="alert alert-info" id="errorMessage">@TempData["Info"]</p>
}
<div class="pt-5">
    @for (Int32 i = 0; i < Model.Count; i++)
    {
        <div class="row challenges mb-5 shadow-sm pb-2 pt-3">
            <div class="col">
                <img class="img-thumbnail" src="@Url.Action("ChallengeImage", "Challenges", new { challangeId = @Model[i].Id })" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h3> @Model[i].Name </h3>
                    <p class="ml-auto mr-3"> @Model[i].StartDate.Year. @Model[i].StartDate.Month. @Model[i].StartDate.Day. - @Model[i].EndDate.Year. @Model[i].EndDate.Month. @Model[i].EndDate.Day. </p>
                </div>
                <div class="row">
                    <p class="description"> @Model[i].Description </p>
                </div>
                <div class="row bottomrow">
                    <div class="col-md-4">
                        <p class="font-italic float-right">@Model[i].Creator.Email </p>
                    </div>
                    <div class="col-md-4">
                        <p class="font-italic ml-auto mr-3"> @Model[i].Type </p>
                    </div>
                    <div class="col-md-4">
                        <p class="font-italic ml-auto mr-3"> @Model[i].Creator.Company </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row d-flex justify-content-center py-3">
                    @if (Model[i].Disabled)
                    {
                        <form method="post" asp-controller="Challenges" asp-action="Enable" asp-route-challengeId="@Model[i].Id">
                            <button type="submit" class="btn btn-success">Engedélyezés</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-controller="Challenges" asp-action="Disable" asp-route-challengeId="@Model[i].Id">
                            <button type="submit" class="btn btn-danger">Letiltás</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    }

</div>
