<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-custom" id="navbar">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img class="img-fluid" id="image" src="~/Images/logo.png" alt="">
        </a>
        <div class="text-right">
            <div class="navbar-inner">
                <button class="btn btn-dark btn-lg" onclick="location.href='@Url.Action("Logout", "Account")'">Kijelentkezés</button>
            </div>
        </div>
    </nav>
    <div class="justify-content-center">
        <div class="d-flex" id="wrapper">
            <div class="bg-dark border-right" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    @if (ViewBag.menulist.Count != null)
                    {
                        for (Int32 i = 0; i < ViewBag.menulist.Count; i++)
                        {
                            if (ViewBag.menulist[i] == "Saját kampányok")
                            {
                                <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Challenges" asp-action="OwnCampaigns">@ViewBag.menulist[i]</a>
                            }
                            else if (ViewBag.menulist[i] == "Egyéb kampányok")
                            {
                                <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Challenges" asp-action="OtherCampaigns">@ViewBag.menulist[i]</a>
                            }
                            else if (ViewBag.menulist[i] == "Kuponok")
                            {
                                <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Cupons" asp-action="Index">@ViewBag.menulist[i]</a>
                            }
                            else if (ViewBag.menulist[i] == "Kampányok")
                            {
                                <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Challenges" asp-action="Index">@ViewBag.menulist[i]</a>
                            }
                            else if (ViewBag.menulist[i] == "Cégadminok")
                            {
                                <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Account" asp-action="ListCompanyAdmins">@ViewBag.menulist[i]</a>
                            }
                            else if (ViewBag.menulist[i] == "Non-profit szervezetek")
                            {
                                <a class="list-group-item list-group-item-action bg-dark text-light" asp-controller="Nonprofit" asp-action="Index">@ViewBag.menulist[i]</a>
                            }
                        }
                    }
                </div>
            </div>

            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-dark border-bottom">
                    <button class="btn btn-primary" id="menu-toggle" data-toggle="collapse"><span class="navbar-toggler-icon"></span></button>
                </nav>
                <div class="container-fluid">
                    <div class="container d-flex align-items-center">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
         </script>
    <script>
   
    $(window).scroll ( function() {
    if ($(document).scrollTop() > 60) {
        document.getElementById('navbar').style.height = '100px';
        document.getElementById('navbar').classList.add("sticky-custom");
        document.getElementById('wrapper').style.top = "110px";
    } else {
        document.getElementById('navbar').style.height = '300px';
        document.getElementById('navbar').classList.remove("sticky-custom");
        document.getElementById('wrapper').style.top = "300px";
    }    
    }
    );
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
