<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-custom">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" id="image" src="~/Images/logo.png" alt="">
        </a>
        <div class="text-right">
            <div class="navbar-inner">
                <button class="btn btn-dark btn-lg" onclick="location.href='@Url.Action("Logout", "Account")'">Kijlentkezés</button>
            </div>
        </div>
    </nav>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                @if (ViewBag.menulist.Count != null)
                {
                    for (Int32 i = 0; i < ViewBag.menulist.Count; i++)
                    {
                        if (ViewBag.menulist[i] == "Saját kampányok")
                        {
                            <button class="btn btn-dark btn-lg" onclick="location.href='@Url.Action("OwnCampaigns", "Challenges")'">@ViewBag.menulist[i]</button>

                        }
                        else
                        {
                            <a href="#" class="list-group-item list-group-item-action bg-light">@ViewBag.menulist[i]</a>
                        }

                    }
                }
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle" data-toggle="collapse"><span class="navbar-toggler-icon"></span></button>
            </nav>
            <div class="container-fluid">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
